@media (max-width: 1000px) {
    /* Tambahkan CSS untuk lesson */
    .lessons {
      width: 50%;
      margin-bottom: 50px;
    }
    .lesson {
        width: 100%;
        margin-bottom: 50px;
    }
    .lesson-wrapper {
        height: 1200px;
        text-align: center;
    }
    .bottom-wrapper {
        height: 1200px;
        text-align: center;
    }
    i {
        display: none;
    }
}

@media (max-width: 670px) {
    .lessons {
        width: 100%;
    }
    .lesson {
        width: 100%;
    }
    .lesson img {
        width: 80%;
    }
    footer {
        text-align: center;
    }
    .btn {
        width: 100%;

    }
    .instagram {
        margin-bottom: 15px;
    }
    .top-wrapper {
        text-align: center;
        padding-top: 130px;
      }
      .bottom-wrapper {
        height: 2200px;
    }
    .header-right {
        display:none;
      }
    i {
        display:block;
      }
}
