html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
body {
    font-family: "Avenir Next";
  }
  .heading{
     border-bottom:10px solid darkgray;
     padding:20px 20px;
  }
  .heading h2{
    font-size:50px;
    margin-left:30px;
  }
  span {
    color:darkgray;
  }
  .lesson-wrapper {
    background-color:#E4DEE4;
    height:1900px;
    width:1300px;
    display:inline-block;
  }
  .lesson-icon {
    padding-top:30px;
    padding-left:40px;
    margin-left:40px;
    margin-top:20px;
    float:left;
    width:40%;
    text-align:center;
  }
  .lesson-icon p {
    font-size:20px;
    margin-top:10px;
  }
  .lesson-icon a {  
    text-decoration:none;
    color:#696969;
  }
  header {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: darkgray;
    top: 0;
    z-index: 10;
    opacity: 90%;
  }
  .header-left {
    float: left;
  }
  .logo {
    width: 150px;
    padding: 20px;
  }
  .header-right {
    float: right;
    padding: 20px;
  }
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #030027;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  footer img {
    width: 125px;
  }
  .footer-right {
    text-align: right;
  }
  .footer-left {
    text-align: left;
    margin-top: 10px;
  }
  footer p {
    color: black;
    font-size: 12px;
    float: left;
  }
  
  footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: darkgray;
  }
